/* Hire Me Section */
#hire-me {
    padding: 200px;
     background-color:#2c294b;
}

/* Header */
.hire-header {
    text-align: center;
    max-width: 750px;
    margin: auto;
    margin-bottom: 60px;
    padding:20px;
}

.hire-subtitle {
    color: var(--accent);
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.hire-title {
    font-size: 2.7rem;
    margin: 15px 0;
    color:#ffbd2e;
}

.hire-desc {
    color: var(--muted);
    font-size: 1.05rem;
}

/* Card */
.hire-card {
    max-width: 900px;
    margin: auto;
    background: var(--secondary);
    padding: 50px;
    border-radius: 18px;
    border: 1px solid rgba(255,255,255,0.06);
    box-shadow: 0 30px 60px rgba(0,0,0,0.4);
     background-color:#2c294b;
}

/* Form */
.hire-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 14px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 10px;
    color: var(--text);
    font-size: 0.95rem;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    outline: none;
    border-color: var(--accent);
}

/* Button */
.hire-btn {
    margin-top: 10px;
    padding: 16px;
    background: var(--gradient);
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
}

.hire-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 15px 30px rgba(99,102,241,0.4);
}

/* Responsive */
@media (max-width: 768px) {
    .form-row {
        grid-template-columns: 1fr;
    }

    .hire-title {
        font-size: 2.2rem;
    }

    .hire-card {
        padding: 35px 25px;
    }
}
